@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

body {
  font-family: 'Sora', sans-serif;
}

.item-button button {
  margin-top: 20px;
  width: 200px;
  background-color: rgb(34, 78, 9);
  color: #fff;
}

.cart-item {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.cart-item svg {
  margin: 0;
}

.cart-item p {
  margin: 0;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}